@charset "UTF-8";

body {
    background-color: lightcoral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
 }
 h1 {
    color: blueviolet;
    background-color: darkkhaki;
 }

 h2 {
    color: brown;

 }

 p {
    text-align: justify;
  } 

